* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body[data-theme="dark"] {
  --color-text: rgb(255, 255, 255);
  --color-bg: rgb(31, 31, 31);
  --color-btn: rgb(82, 82, 95);
}

body[data-theme="light"] {
  --color-text: rgb(31, 31, 31);
  --color-bg: rgb(255, 255, 255);
  --color-btn: rgb(173, 173, 197);
}
